

.cloud {
  background-size: cover;
  position: absolute;
  z-index: -1;
  min-height: 100%;
  min-width: 100%;
  resize: both;
}

input {
  margin: 0 1em;
}

label #text {
  padding: 1em;
}

dimensions-form {
  margin: 0 1em;
}

.Board-container {
  background-color: #ffddd2D0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Box-box {
  min-width: 75vh;
  min-height: 75vh;
}

.Menu-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  padding:  25px;
  background: white;
  border: 1px solid black;
  box-shadow: 8px 8px  black;
  font-size: medium;
}

.Board-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  min-width: 100%;
  min-height: 100%;
  padding:  25px;
  background: white;
  border: 1px solid black;
  box-shadow: 8px 8px  black;
}

.square {

  float: left;
  height: 50px;
  padding: 1px;
  width: 50px;
}

.triangle{
  
}

.bottom{
  fill: #006d77
}

.left{
  fill: #83c5be
}

.top{
  fill: #ffddd2
}

.right{
  fill:#e29578
}