.cloud {
  background-image: url(https://previews.123rf.com/images/bpuhanic/bpuhanic1501/bpuhanic150100004/35368787-white-chalk-on-black-paper-background.jpg);
  background-size: cover;
  position: absolute;
  z-index: -1;
  min-height: 100%;
  min-width: 100%;
  resize: both;

  filter: blur(5px);

}

.Board-container {
  background-color: #ffddd2D0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boardBox {
  padding:  25px;
  background: white;
  border: 1px solid black;
  box-shadow: 8px 8px  black;
}

.square {
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.triangle{
  
  stroke: #F8E9E9;
  stroke-width: 1;
}

.bottom{
  fill: green
}

.left{
  fill: red
}

.top{
  fill: blue
}

.right{
  fill: yellow
}